<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193990744427-3qrmvotni86tsqjedn6ssnn7r4216e75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193990744427-3qrmvotni86tsqjedn6ssnn7r4216e75</string>
	<key>API_KEY</key>
	<string>AIzaSyCYt1a2uydUfHz4sCD26MYiKYueQ7Z9N18</string>
	<key>GCM_SENDER_ID</key>
	<string>193990744427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ihkProjekt</string>
	<key>PROJECT_ID</key>
	<string>azubi-knowhow-building</string>
	<key>STORAGE_BUCKET</key>
	<string>azubi-knowhow-building.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193990744427:ios:f171c09351d6c176a8142e</string>
	<key>DATABASE_URL</key>
	<string>https://azubi-knowhow-building.firebaseio.com</string>
</dict>
</plist>